@use "../../variables.scss" as *;

.contactForm {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  margin-bottom: 20px;
  font-size: 1.2rem;

  .inputContainer {
    display: flex;
    flex-direction: column;
  }

  .input {
    padding: 0.5em;
    min-width: 300px;
    border: 1px solid $borderColor;
  }

  .submitButton {
    background-color: $mainBgColor;
    border: 1px solid $secondaryBgColor;
    padding: 0.25em 0.5em;
    font-size: inherit;
    cursor: pointer;

    &:hover {
      background-color: $secondaryBgColor;
      color: white;
    }
  }

  .labelContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .errorMessage {
    font-size: 0.9rem;
    color: $errorTextColor;
  }
}