@use "./variables.scss" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root,
main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 20px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: $textColor;
  height: 100vh;
  background-color: $pageBgColor;
}
